{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set canManageReports = currentUser.can('reports:manageReports') %}
{% set crumbs = [
    { label: "Reports"|t, url: url('reports') },
    { label: "#{report.name}"|t, url: canManageReports ? url("reports/edit/#{report.id}") : craft.app.request.getAbsoluteUrl() },
] %}

{% set fullPageForm = true %}
{% set title = "Report Result"|t %}
{% set hasFields = report.reportSettings.hasFields() %}
{% set fields = report.reportSettings.fields %}
{% set hasDateFields = true %}

{% block actionButton %}
    {% if canManageReports %}
        <div class="buttons right">
            {% if report.id is not null %}
                <div class="spinner hidden" id="js-updateSpinner"></div>
                <div class="spacer"></div>
                <button class="btn secondary hidden" id="js-saveSettings">{{ "Save Settings"|t('reports') }}</button>
                <a href="{{ url("reports/edit/#{report.id}") }}" class="btn ">{{ "Edit"|t('reports') }}</a>
                {% if connectedTargets|length %}
                    <div class="btngroup">
                        <a href="{{ url("reports/export/#{report.id}") }}"
                           class="btn submit">{{ "Export"|t('reports') }}</a>

                        <div class="btn submit menubtn"></div>
                        <div class="menu">
                            <ul>
                                {% for target in connectedTargets %}
                                    <li>
                                        <a href="{{ url('reports/targets/run/'~target.id) }}"
                                           class="js-queueTargetExport" data-target-id="{{ target.id }}">
                                            {{ target.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                {% else %}
                    <a href="{{ url("reports/export/#{report.id}") }}"
                       class="btn submit">{{ "Export"|t('reports') }}</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block details %}
    {% set settingsError = report.getError('settings') %}
    {% if hasFields or settingsError %}
        <div id="settings" class="meta" data-id="{{ report.id }}">
            {% if settingsError %}
                <p class="error">{{ settingsError }}</p>
            {% endif %}
            {% namespace 'fields' %}
                {% for field in fields %}
                    {{ field.renderField(report) }}
                {% endfor %}
            {% endnamespace %}
        </div>
    {% endif %}
{% endblock %}


{% block content %}
    <div id="js-reportResults">
        {% include 'reports/reports/_table' %}
    </div>
{% endblock %}

{% do view.registerAssetBundle("superbig\\reports\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}