{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set canManageReports = currentUser.can('reports:manageReports') %}
{% set crumbs = [
    { label: "Reports"|t, url: url('reports') },
    { label: "#{report.name}"|t, url: canManageReports ? url("reports/edit/#{report.id}") : craft.app.request.getAbsoluteUrl() },
] %}

{% set fullPageForm = true %}
{% set title = "Report Result"|t %}
{% set hasFields = report.reportSettings.hasFields() %}
{% set fields = report.reportSettings.fields %}
{% set hasDateFields = true %}

{% block actionButton %}
    {% if canManageReports %}
        <div class="buttons right">
            {% if report.id is not null %}
                <a href="{{ url("reports/edit/#{report.id}") }}" class="btn ">{{ "Edit"|t('reports') }}</a>
                {% if connectedTargets|length %}
                    <div class="btngroup">
                        <a href="{{ url("reports/export/#{report.id}") }}"
                           class="btn submit">{{ "Export"|t('reports') }}</a>

                        <div class="btn submit menubtn"></div>
                        <div class="menu">
                            <ul>
                                {% for target in connectedTargets %}
                                    <li>
                                        <a href="{{ url('reports/targets/run/'~target.id) }}"
                                           class="js-queueTargetExport" data-target-id="{{ target.id }}">
                                            {{ target.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                {% else %}
                    <a href="{{ url("reports/export/#{report.id}") }}"
                       class="btn submit">{{ "Export"|t('reports') }}</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block details %}
    {% set settingsError = report.getFirstError('settings') %}
    {% if hasFields or settingsError %}
        <div id="settings" class="meta" data-id="{{ report.id }}">
            {% if settingsError %}
                <p class="error">{{ settingsError }}</p>
            {% endif %}
            {% for field in fields.fields %}
                {{ field.renderField() }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


{% block content %}
    {% if result.hasErrors() %}
        <h1>There was a problem rendering this report:</h1>
        <ul>
            {% for key,errors in result.getErrors() %}
                {% for error in errors %}
                    <li>
                        <pre>
                            {%- apply spaceless %}
                                {{ error }}
                            {% endapply -%}
                        </pre>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if result.getContent() | length %}
        <table class="data fullwidth">
            {% if result.getHeader() | length %}
                <thead>
                <tr>
                    {% for column in result.getHeader() %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
                </thead>
            {% endif %}
            <tbody>
            {% for row in result.getContent() %}
                <tr>
                    {% for column in row %}
                        <td>{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% do view.registerAssetBundle("superbig\\reports\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}